

.header__abctraction--2 {
    position: absolute;
    margin-top: 157px;
    width: 100%;
   
}

.header__abstraction--1 {
 width: 100%;

}

.header__abctraction--pins {
    position: absolute;
    top: 383px;
    left: 97px;
}


.header__abctraction--montains {
    position: absolute;
    left: -17px;
    top: 598px;
    z-index: 1;
    width: 100%;
}


.header__abctraction--gradient {
    position: absolute;
    margin-top: 500px;
    width: 100%;
    z-index: 1;
}

.header__abctraction--clouds {
    position: absolute;
    top: 718px;
    left: -17px;
    width: 100vw;
    z-index: 2;

}