.button {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 00.04em;
    text-transform: uppercase;
    min-height: 38px;
    
    align-items: center;
   
    border: aliceblue;
    border-radius: 61.3171px;
    padding: 0 36px;
    background: transparent;
    cursor: pointer;
    transition: background .5s;
    
}