.catalog {
    margin-top: 250px;
}

.catalog__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cstslog__decoration_rhombus {
    margin:-215px 704px 0;
}
.title_catalog {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 58px;
    text-align: center;
    color: #0C0B10;
    margin-top: -154px;
}

.catalog__container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 50px);
    max-width: 1110px;
    margin: 0 auto;
    grid-gap: 20px;
}

.catalog1 {
    background-image: url('../images/catalog/1.png');
    display: grid;
    /* включение гридов для центрирования текста */
    background-size: cover;
    /* растянуть картинку на весь блок */
    grid-column: 1/5;
    grid-row: 1/4;
    border-radius: 3%;
    transition: 1s;
    /* Время эффекта */
}

.catalog1:hover {
    transform: scale(1.1);
    /* Увеличиваем масштаб */
}


.catalog2 {
    background-image: url('../images/catalog/2.png');
    display: grid;
    /* включение гридов для центрирования текста */
    background-size: cover;
    /* растянуть картинку на весь блок */
    grid-column: 5/9;
    grid-row: 1/4;
    border-radius: 3%;
    transition: 1s;
    /* Время эффекта */
}

.catalog2:hover {
    transform: scale(1.1);
    /* Увеличиваем масштаб */

}

.catalog3 {
    background-image: url('../images/catalog/3.png');
    display: grid;
    /* включение гридов для центрирования текста */
    background-size: cover;
    /* растянуть картинку на весь блок */
    grid-column: 1/5;
    grid-row: 4/7;
    border-radius: 3%;
    transition: 1s;
    /* Время эффекта */
}

.catalog3:hover {
    transform: scale(1.1);
    /* Увеличиваем масштаб */
}

.catalog4 {
    background-image: url('../images/catalog/4.png');
    display: grid;
    /* включение гридов для центрирования текста */
    background-size: cover;
    /* растянуть картинку на весь блок */
    grid-column: 5/9;
    grid-row: 4/7;
    border-radius: 3%;
    transition: 1s;
    /* Время эффекта */
}

.catalog4:hover {
    transform: scale(1.1);
    /* Увеличиваем масштаб */
}

.catalog5 {
    background-image: url('../images/catalog/5.png');
    display: grid;
    /* включение гридов для центрирования текста */
    background-size: cover;
    /* растянуть картинку на весь блок */
    grid-column: 1/5;
    grid-row: 7/12;
    border-radius: 3%;
    transition: 1s;
    /* Время эффекта */
}

.catalog5:hover {
    transform: scale(1.1);
    /* Увеличиваем масштаб */
}

.catalog6 {
    background-image: url('../images/catalog/6.png');
    display: grid;
    /* включение гридов для центрирования текста */
    background-size: cover;
    /* растянуть картинку на весь блок */
    grid-column: 5/9;
    grid-row: 7/12;
    border-radius: 3%;
    transition: 1s;
    /* Время эффекта */
}

.catalog6:hover {
    transform: scale(1.1);
    /* Увеличиваем масштаб */
} 
.button__help {
    text-decoration: none;
    color: black;
}
