.catalog {

 
}

.title_catalog {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 58px;
    text-align: center;
    color: #0C0B10;
    }

    .catalog__container {
        display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 100px);
    max-width: 1110px;
    margin: 0 auto;
   grid-gap: 20px;
    }