.main {
    max-width: 1110px;
    margin: 0 auto;

}

.contect {
   

}

.blok-1__title {
  

}

.blok-1__title-content {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 58px;
    text-align: center;
    color: #0C0B10;
}

.blok-1__title-content::before {
    content: url('../images/blok-1/rhombus.png');
  
}

.blok-1__navigation {
  
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 98.5%;
    color: #79655E;

}


.blok-1__navigation-list {
    display: flex;
    position: relative;
    justify-content: space-between;

}

.blok-1__navigation-list-item {
    list-style-type: none;
    font-size: 24px;

}

.blok-1__navigation-link {
    text-decoration: none;
    color: #79655E;
}

.blok-1__navigation-link:hover {
    background-image: url('../images/blok-1/icon.png');
    background-repeat: no-repeat;


}