.main {
    max-width: 1110px;
    margin: 0 auto;

}

.blok-1__title-content {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 58px;
    text-align: center;
    color: #0C0B10;
    margin-top: -179px;
}

.decoration_rhombus {
    margin: 73px 506px 0;
}

.blok-1__navigation-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}



.blok-1__navigetion-link {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 98.5%;
    color: #79655E;
    text-decoration: none;
}

.blok-1__navigetion-link:hover {
    font-size: 24px;
    color: #0C0B10;
    background-image: url('../images/blok-1/icon.png');
    background-repeat: no-repeat;
    background-position: center top 25px;
    padding: 5px;
}