.header__filtr {
   z-index: 1;
   position: relative;
}

.header__filtr-img--48 {
   margin: -128px 165px;
}

.header__filtr-img--30 {
   top: 460px;
   position: absolute;
   left: 569px;

}

.header__filtr-img--subtract {
   margin: -6px 463px 0 594px;

}

.header__filtr-img--layer3 {
   margin: 430px 695px 0 710px;
}

.header__filtr-title {
   position: absolute;
   margin: -65px 607px;
   font-family: 'Forum';
   font-style: normal;
   font-weight: 400;
   font-size: 27px;
   letter-spacing: 0.04em;
   color: #79655E;

}

.header__filtr-form {
   display: flex;
   color: #79655E;
   justify-content: space-evenly;


}

.destination {
   color: #0C0B10;
   border: none;
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 25px;
}

.location::before {
   content: url('../images/filter/icon_destination.svg');
   margin-right: 5px;
}


.location {
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 25px;
   margin-left: 150px;

}

.city {
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 25px;
}

.city::before {
   content: url('../images/filter/icon_travel.svg');
   margin-right: 5px;

}

.date {
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 25px;
}

.date::before {
   content: url('../images/filter/icon_calendar.svg');
   margin-right: 5px;
}

.persons {
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 25px;
}

.persons::before {
   content: url('../images/filter/icon_travellers.svg');
   margin-right: 5px;
}

.button__search {
   margin-top: -15px;
}

.button_search {
   width: 126px;
   height: 70px;
   background: #0C0B10;
   border-radius: 121px;
   margin-right: 150px;
   cursor: pointer;
   
}

.button_search::before {
   content: url('../images/filter/icon_search.png');
   margin-right: 5px;
}


.button_search-find {
   font-family: 'Forum';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   letter-spacing: 0.04em;
   color: aliceblue;
    margin-top: 5px;
}
 
