body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background: #E2D3CE;

}

.main {
    background: url('../images/main/bg_book\ with\ us.png') center 1300px, url('../images/main/bg_pacakges.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}