body {
    margin: 0;
}

.header {
    background: url('../images/header/sky.jpg') no-repeat;
    background-position: center;
    min-height: 960px;
    background-size: cover;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    overflow: hidden;
}

.header__menu {
    display: flex;
    align-items: center;
    padding: 48px;
    justify-content: space-between;
}

.header__navigation-list-item {
    list-style-type: none;
    font-size: 16px;
}

.header__navigation-list {
    display: flex;
}

.header__navigetion-link {
    padding: 10px;
    font-family: 'Forum';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.header__navigetion-link:hover {
    background-image: url('../images/blok-1/icon.png');
    background-repeat: no-repeat;
    background-position: center 25px;
    /* text-decoration: underline; */
}

.header__button {
    background-image: url('../images/button/Subtract.png');
    border: none;
    background-position: center;
    background-repeat: no-repeat;
}

.button:hover {
    background: rgba(255, 255, 255, .5);
}


/*.header__title-img {
   position: absolute;
   bottom: -44px;
   left: 0px;
}

.header__title-img--pins {
   bottom: 30%;
   transform: translate(6%);

}
.header__title-img--clouds {
position: absolute;
top: 621px;

}

.header__title-img--gradient {
   position: absolute;
   top: 625px;
}





.header__title-places {
   position: absolute;

   left: 485px;
   top: 418px;
   font-family: 'Forum';
   font-style: normal;
   font-weight: 400;
   font-size: 141.614px;
   line-height: 100%;
   text-align: center;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   color: #FCFCFC;
}



.header__logo {
   position: absolute;
   left: 44px;
   top: 13px;

}



 

.header__buttom {
   display: flex;
   position: relative;
   left: 254px;
   bottom: 454px;
}

.header__buttom-call {
   background-image: url('../imegs/button/Subtract.png');
   display: flex;
   position: relative;
   width: 156px;
   height: 40px;
   left: 89%;
 
}

.header__buttom-call::before {
   content: url('../imegs/button/Layer\ 3.png');
   position: relative;
   left: 67px;
   bottom: 13px;

}

.header__buttom-call::after {
   content: url('../imegs/button/Layer\ 4.png');
   position: relative;
   top: 34px;
   right: 48px;

}

.header__buttom-call-me {
   border: none;
   background-color: transparent;
   margin: 0;
   padding: 0;

}

.phone-number__link {

   font-family: 'Forum';
   font-weight: 400;
   font-size: 15px;
   text-decoration: none;
   color: black;

}

.header__filtr-img--48 {
   position: absolute;
   width: 1177px;
   height: 158px;
   left: 129px;
   top: 744px;
}

.header__filtr-img--30 {
   position: absolute;
   width: 330px;
   height: 55px;
   left: 556px;
   top: 730px;
}

.header__filtr-img--subtract {
   position: absolute;
   width: 280px;
   height: 61px;
   left: 581px;
   top: 712px;
}

.header__filtr-img--layer3 {
   position: absolute;
   bottom: 247px;
   left: 696px;
}

.header__filtr-title {
   position: absolute;
    left: 593px;
    top: 710.92px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.04em;
    color: #79655E;
}



.header__filtr-form {
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 25px;
   color: #79655E;
   position: absolute;
}

.destination {
   color: #0C0B10;
   border: none;
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 25px;
}

.location::before {
 content: url('../imegs/filter/icon_destination.png');
 position: absolute;
 left: -16px;
 top: 2px;
}


.location {
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 25px;
   left: -167px;
   top: 252px;
}

.city {
   left: 173px;
   top: 251px;
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 25px;}

.city::before {
content: url('../imegs/filter/icon_travel.png');
position: absolute;
left: -22px;

}

.date {
   left: 418px;
   top: 251px;
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 25px;
}

.date::before {
   content: url('../imegs/filter/icon_calendar.png');
   position: absolute;
   left: -22px;
      }

.persons {
   left: 591px;
   top: 251px;
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 25px;
}

.persons::before {
content: url('../imegs/filter/icon_travellers.png');
position: absolute;
left: -22px;
}

.button-search {
   position: absolute;
   width: 126px;
   height: 70px;
   left: 733px;
    top: 247px;
   background: #0C0B10;
   border-radius: 121px;
}

.button-search::before {
   content: url('../imegs/filter/icon_search.png');
   position: absolute;
   left: 14px;
   top: 22px;
   
   }


.button-search-find {
   position: relative;
   bottom: -246px;
   left: 786px;
   font-family: 'Forum';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   letter-spacing: 0.04em;
   color: #FFFFFF;
   z-index: 1

}