.header {
  background: url('../images/header/1.png'), url('../images/header/sky.jpg');
  background-position: 0 260px, 0 0; 
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 960px;  
overflow: hidden;
}

.header__menu {
   display: flex;
   align-items: center;
   padding: 32px;
   justify-content: space-between;
}

.header__navigation-list {
   display: flex;
   max-width: 745px;
   left: -7px;
   bottom: 411px;
}


.header__navigation-list-item {
   list-style-type: none;
   font-size: 16px;
}

.header__navigetion-link {
   padding: 10px;
   font-family: 'Forum';
   font-weight: 400;
   font-size: 16px;
   text-decoration: none;
   color: black;

}

.header__navigetion-link:hover {
   background-image: url('../images/blok-1/icon.png');
   background-repeat: no-repeat;
   background-position: center top 25px;
 

}

.header__button {
   display: flex;
   background-image: url('../images/button/Subtract.png');
   height: 40px;
   left: 89%;
   border: none;
   background-position: center;
   background-repeat: no-repeat;
}


.header__button:hover {
   background: rgba(255, 255, 255, .5);
}

.header__button::before {
   content: url('../images/button/Layer\ 3.png');
   position: relative;
   left: 74px;
   bottom: 24px;

}

.header__button::after {
   content: url('../images/button/Layer\ 4.png');
   position: relative;
    top: 23px;
    right: 73px;
}



