.reviews {
    max-width: 1110px;
    margin: 0 auto;
}

.reviews__title-hgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.reviews__title {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 58px;
    text-align: center;

    }

    .revirws__decoration_rhombus {
        position: absolute;
        z-index: -1;
    }
    