.gallery__slider {
    max-width: 1110px;
    margin: 0 auto;
}

.slider__container {
    margin-top: 20px;
    overflow: hidden;
}

.slider__location {
    margin-top: 20px;
}

.slider_1 {
    background-image: url('../images/slider/Mask\ Group.png');
    background-repeat: no-repeat;
    height: 500px;
    
}

.slider_2 {
    background-image: url('../images/slider/Mask\ Group\ \(1\).png');
    background-repeat: no-repeat;
    height: 500px;

}

.slider_3 {
    background-image: url('../images/slider/Mask\ Group\ \(2\).png');
    background-repeat: no-repeat;
    height: 500px;
}

.slider_4 {
    background-image: url('../images/slider/Mask\ Group\ \(4\).png');
    background-repeat: no-repeat;
    height: 500px;
}

.slider_5 {
    background-image: url('../images/slider/Mask\ Group\ \(5\).png');
    background-repeat: no-repeat;
    height: 500px;
}

.slider_6 {
    background-image: url('../images/slider/Mask\ Group\ 6.png');
    background-repeat: no-repeat;
    height:
        500px;
}

.wrapper_slider {
    display: flex;
    flex-direction: column;
}

.title_contry {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 98.5%;
    display: flex;
    align-items: flex-end;

    color: #FFFFFF;

}

.slider_location {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
}


:root {
    --cover-timing: 0.5s; 
    --cover-ease: cubic-bezier(0.66, 0.08, 0.19, 0.97);
    --cover-stagger: 0.15s;
    
    --text-timing: .75s;
    --text-stagger: 0.015s;
    --text-ease: cubic-bezier(0.38, 0.26, 0.05, 1.07);
    
    --title-stagger: 0.05s;
    --highlight: white;
  }
  