.title__tripSetup {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 58px;
    text-align: center;

}

.tripSetup__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.tripSetup_vector {}

.tripSetup__content-title {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 98.5%;
}

.tripSetup_subcontent {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 179.8%;
}